body{
    background-color:#4CD;
}

.container{
   
    
}

.row{
   display: flex;
}

.number-row button{
    margin: 3% auto;  /* Magic! */  
    font-size:4em;
    border-radius: 51px;
    color:white;
    background-color:#333;
    padding:6%;
    
}

.number-row #zero {
        margin-top: 5%;
        width: 87%;
}

#inputField{
    font-size: 6em;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    height: 100px;
}

#backspace{
    width:42%;
}

/*@media (min-width: 531px) {
  .wrapper{
    max-width:92%;
}
}*/

@media (min-width: 1080px) {
  .wrapper{
    max-width:30%;
}
}
